# Talos and Kubernetes configuration
export TALOSCONFIG=/Users/alex/git/ib/k8s/clusters/homelab/talos/clusterconfig/talosconfig
export KUBECONFIG=/Users/alex/git/ib/k8s/clusters/homelab/talos/clusterconfig/kubeconfig
