# Terraform/OpenTofu
terraform/secrets.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info

# Generated configs
_out/
