---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.x"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 30m
  install:
    createNamespace: true
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    grafana:
      envFromSecret: kube-prometheus-stack-oauth
      grafana.ini:
        server:
          root_url: "%(protocol)s://%(domain)s/"
        auth.generic_oauth:
          enabled: true
          name: TailscaleIDP
          scopes: "openid profile email"
          client_id: $__env{client_id}
          client_secret: $__env{client_secret}
          auth_url: https://idp.ktz.ts.net/authorize
          token_url: https://idp.ktz.ts.net/token
          api_url: https://idp.ktz.ts.net/userinfo
