---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.9.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 30m
  install:
    createNamespace: true
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    prometheus:
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        retention: 30d
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: ceph-block
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
    alertmanager:
      alertmanagerSpec:
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: ceph-block
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 2Gi
    grafana:
      persistence:
        enabled: true
        storageClassName: ceph-block
        size: 5Gi
      envFromSecret: kube-prometheus-stack-oauth
      grafana.ini:
        server:
          root_url: "%(protocol)s://%(domain)s/"
        auth.generic_oauth:
          enabled: true
          name: TailscaleIDP
          scopes: "openid profile email"
          client_id: $__env{client_id}
          client_secret: $__env{client_secret}
          auth_url: https://idp.ktz.ts.net/authorize
          token_url: https://idp.ktz.ts.net/token
          api_url: https://idp.ktz.ts.net/userinfo
