#!/bin/bash

# Garage S3 Backend Credentials
# These are read from secrets.tfvars for convenience
if [ -f secrets.tfvars ]; then
  export AWS_ACCESS_KEY_ID=$(awk -F'"' '/terraform_garage_s3_keyid/ {print $2}' secrets.tfvars)
  export AWS_SECRET_ACCESS_KEY=$(awk -F'"' '/terraform_garage_s3_secretkey/ {print $2}' secrets.tfvars)
fi
