---
apiVersion: v1
kind: Secret
metadata:
  name: headlamp-kubeconfig
  namespace: headlamp
type: Opaque
stringData:
  config: |
    apiVersion: v1
    kind: Config
    clusters:
      - name: m720q
        cluster:
          # Use egress Service to reach Tailscale API proxy
          server: https://k8s-api-proxy.headlamp.svc.cluster.local
    contexts:
      - name: m720q
        context:
          cluster: m720q
          user: tailscale-auth
    current-context: m720q
    users:
      - name: tailscale-auth
        user:
          token: unused
