---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: smokeping
  namespace: flux-system
spec:
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./apps/overlays/m720q/smokeping
  prune: true
  wait: false
  dependsOn:
    - name: rook-ceph-cluster
