---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      nodeSelector:
        gpu.intel.com/device-id.0300-3e92.present: "true"
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:latest
          ports:
            - containerPort: 8096
              name: http
          env:
            - name: JELLYFIN_PublishedServerUrl
              value: "https://q-jf.ktz.ts.net"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media
              readOnly: true
            - name: dri
              mountPath: /dev/dri
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
              gpu.intel.com/i915: "1"
            limits:
              memory: "4Gi"
              gpu.intel.com/i915: "1"
          securityContext:
            privileged: false
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: media
          persistentVolumeClaim:
            claimName: jellyfin-media
        - name: dri
          hostPath:
            path: /dev/dri
